In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../../main_dataset/data_all.csv')

/tmp/ipykernel_41752/1994167362.py:1: DtypeWarning: Columns (0,1) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('../../main_dataset/data_all.csv')

In [3]:
df

,id_veronacard,profilo,data_visita,ora_visita,sito_nome,poi
0,04AA72F2185080,vrcard-24-2019,2019-08-22,17:03:00,Torre dei Lamberti,59
1,0419C5E2185081,vrcard-48-2019,2019-12-01,11:46:00,Torre dei Lamberti,59
2,042C0FE2185085,vrcard-48-2019,2019-07-31,13:37:00,Torre dei Lamberti,59
3,042B2DE2185085,vrcard-48-2019,2019-07-31,13:37:00,Torre dei Lamberti,59
4,04191AE2185081,vrcard-48-2019,2019-12-01,11:46:00,Torre dei Lamberti,59
...,...,...,...,...,...,...
4448589,0440ADE2185081,vrcard-48-2019,2020-01-01,10:56:07,Giardino Giusti,75
4448590,04161EE2185081,vrcard-48-2019,2020-01-01,10:55:40,Giardino Giusti,75
4448591,044452E2185081,vrcard-48-2019,2020-01-01,10:55:27,Giardino Giusti,75
4448592,043412E2185085,vrcard-48-2019,2020-01-01,10:22:41,Giardino Giusti,75
4448593,04106AE2185081,NaN,2020-01-01,10:22:38,Giardino Giusti,75

In [4]:
df['date'] = df['data_visita'] + ' ' + df['ora_visita']
df = df[['sito_nome', 'poi', 'date']]
df['date'] = pd.to_datetime(df['date'])

/tmp/ipykernel_41752/123791936.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['date'] = pd.to_datetime(df['date'])

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4448594 entries, 0 to 4448593
Data columns (total 3 columns):
 #   Column     Dtype
---  ------     -----
 0   sito_nome  object
 1   poi        int64
 2   date       datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 101.8+ MB

In [6]:
df['sito_nome'].unique()

array(['Torre dei Lamberti', 'Anfiteatro Arena', 'Casa di Giulietta',
       'Museo di Castelvecchio', 'complesso del Duomo', 'Giardino Giusti',
       'Museo Africano', 'Museo Lapidario Maffeiano',
       'Museo di Storia Naturale', 'Palazzo della Ragione o del Comune',
       'Chiesa di San Fermo', 'Basilica di San Zeno',
       'Basilica di Santa Anastasia',
       'Museo archeologico al teatro romano',
       'Museo degli Affreschi "G.B. Cavalcaselle" e Tomba di Giulietta',
       'Teatro Romano', 'Castelvecchio'], dtype=object)

In [9]:
df_dic = {}
df_count_dic = {}
for poi in df['sito_nome'].unique():
	mask = df['sito_nome'] == poi
	df_dic[poi] = df.loc[mask]
	#df_dic[poi].reset_index(drop=True, inplace=True)
	df_dic[poi].set_index('date', inplace=True)
	df_count_dic[poi] = df_dic[poi].resample('15min').size().reset_index(name='count')

In [10]:
df_count_dic['Castelvecchio']

                     date  count
0     2020-01-01 13:30:00      9
1     2020-01-01 13:45:00      7
2     2020-01-01 14:00:00      2
3     2020-01-01 14:15:00      5
4     2020-01-01 14:30:00      7
...                   ...    ...
29285 2020-11-01 14:45:00      0
29286 2020-11-01 15:00:00      0
29287 2020-11-01 15:15:00      0
29288 2020-11-01 15:30:00      2
29289 2020-11-01 15:45:00      2

[29290 rows x 2 columns]

In [ ]:
for poi in df_count_dic.keys():
	df_string = poi.lower().replace(' ', '_')
	df_count_dic[poi].to_csv(f'../../main_dataset/count_data/data_{df_string}.csv')